body {
    background-color: rgb(175, 171, 130);
    font: small/1.6em Verdana, Helvetica, Arial, 
    sans-serif;
    margin: 0px;
}
header.top {
    background-color: rgb(75, 62, 49);
    margin: 10px 10px 0px 10px;
    height: 108px;
}
h1, h2 {
    color: red;
}
h1 {
    font-size: 150%;
}
h2 {
    font-size: 130%;
}
